[submodule "docs/feroxbuster-docs/"]
	url = https://github.com/epi052/feroxbuster-docs.git
[submodule "docs/feroxbuster-docs"]
	path = docs/feroxbuster-docs
	url = https://github.com/epi052/feroxbuster-docs.git
