[package]
name = "feroxbuster"
version = "2.6.0"
authors = ["Ben 'epi' Risher (@epi052)"]
license = "MIT"
edition = "2021"
homepage = "https://github.com/epi052/feroxbuster"
repository = "https://github.com/epi052/feroxbuster"
description = "A fast, simple, recursive content discovery tool."
categories = ["command-line-utilities"]
keywords = ["pentest", "enumeration", "url-bruteforce", "content-discovery", "web"]
exclude = [".github/*", "img/*", "check-coverage.sh"]
build = "build.rs"

[badges]
maintenance = { status = "actively-developed" }

[build-dependencies]
clap = {version = "3.0", features = ["wrap_help", "cargo"]}
clap_complete = "3.0"
regex = "1"
lazy_static = "1.4"
dirs = "4.0"

[dependencies]
scraper = "0.12"
futures = { version = "0.3"}
tokio = { version = "1.16", features = ["full"] }
tokio-util = {version = "0.7", features = ["codec"]}
log = "0.4"
env_logger = "0.9"
reqwest = { version = "0.11", features = ["socks"] }
url = { version = "2.2", features = ["serde"]}  # uses feature unification to add 'serde' to reqwest::Url
serde_regex = "1.1"
clap = {version = "3.0", features = ["wrap_help", "cargo"]}
lazy_static = "1.4"
toml = "0.5"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
uuid = { version = "0.8", features = ["v4"] }
indicatif = "0.15"
console = "0.15"
openssl = { version = "0.10", features = ["vendored"] }
dirs = "4.0"
regex = "1"
crossterm = "0.20"
rlimit = "0.6"  # todo: watch for 1.0, adds windows rlimit
ctrlc = "3.2"
fuzzyhash = "0.2.1"
anyhow = "1.0"
leaky-bucket = "0.10.0"  # todo: upgrade, will take a little work/thought since api changed

[dev-dependencies]
tempfile = "3.3"
httpmock = "0.6"
assert_cmd = "2.0"
predicates = "2.1"
assay = "0.1.0"

[profile.release]
lto = true
codegen-units = 1
panic = 'abort'

[package.metadata.deb]
section = "utility"
license-file = ["LICENSE", "4"]
conf-files = ["/etc/feroxbuster/ferox-config.toml"]
assets = [
    ["target/release/feroxbuster", "/usr/bin/", "755"],
    ["ferox-config.toml.example", "/etc/feroxbuster/ferox-config.toml", "644"],
    ["shell_completions/feroxbuster.bash", "/usr/share/bash-completion/completions/feroxbuster.bash", "644"],
    ["shell_completions/feroxbuster.fish", "/usr/share/fish/completions/feroxbuster.fish", "644"],
    ["shell_completions/_feroxbuster", "/usr/share/zsh/vendor-completions/_feroxbuster", "644"],
]
