# composite tasks
[tasks.upgrade]
dependencies = ["upgrade-deps", "update"]

# cleaning
[tasks.clean-state]
script = """
rm ferox-*.state
"""

# dependency management
[tasks.upgrade-deps]
command = "cargo"
args = ["upgrade", "--exclude", "indicatif"]

[tasks.update]
command = "cargo"
args = ["update"]

# clippy / lint
[tasks.clippy]
clear = true
script = """
cargo clippy --all-targets --all-features -- -D warnings
"""
